.d1{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

}
/* .d1>div{
    width: 200px;
} */
.d2{
    width: clamp(150px, 90%, 350px);
    font-size: clamp(14px, 5vw, 25px);
}
.d3{
    width: clamp(150px, 100%, 350px);
    flex-grow: 2;
}

